

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bao Anh Store</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Trang Chủ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customer" >
                <span class="oi oi-person"></span> Khách Hàng
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="review" >
                <span class="oi oi-star" aria-hidden="true"></span> Review của Khách
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aboutme" >
                <span class="oi oi-tag" aria-hidden="true"></span> Về Chúng Tôi
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chinhsach" >
                <span class="oi oi-envelope-closed"></span> Chính Sách
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" target="_blank" href="https://www.facebook.com/anh.nguyenphuc.7737" >
                <svg style="margin-right: 15px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                </svg>Mạng Xã Hội
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
