@page "/aboutme"
<div style="display: flex; justify-content: center; margin-top: 30px; margin-bottom: 30px">
    <h1>Về Chúng Tôi</h1>
</div>
<div class="containers">
    <div class="image" style="width: 100%; height: auto">
        <img src="./slider/1.png" class="d-block w-100" alt="...">
    </div>
    <div class="image" style="width: 100%; height: auto">
        <img src="./slider/2.png" class="d-block w-100" alt="...">
    </div>
    <div class="image" style="width: 100%; height: auto">
        <a href="">
            <img src="./slider/3.png" class="d-block w-100" alt="...">
        </a>
        
    </div>
</div>
@code {

}
