@page "/chinhsach"

<div class="container">
    <h2 class="page-title text-center">Chính sách đổi trả</h2>
    <div class="news-content content"><div style="text-align: center;">
    &nbsp;
    <p style="text-align: justify;"><span style="font-size: 14px;">Để mang đến sự thuận tiện và trải nghiệm tốt nhất cho khách hàng, Mr Vui có những chính sách phù hợp khi khách hàng có nhu cầu đổi trả sản phẩm.&nbsp; Chúng tôi luôn mong muốn mang lại cho khách hàng những sản phẩm và chất lượng phục vụ tốt nhất.</span></p>
    <p style="text-align: justify;"><span style="font-size: 14px;">Việc đổi trả sản phẩm đi kèm một số điều kiện cụ thể, Quý khách vui lòng tham khảo thông tin chi tiết bên dưới :</span><br>
    <br>
    </p>
    <p style="text-align: justify;"><strong>1. Điều kiện đổi/ trả sản phẩm:</strong></p>
    <ul style="text-align: justify;">
        <li style="text-align: justify;">Sản phẩm không trùng khớp về màu sắc, mẫu mã, size theo đơn hàng.</li>
        <li style="text-align: justify;">Lỗi kỹ thuật do nhà sản xuất.</li>
        <li style="text-align: justify;">Sản phẩm đổi hàng phải còn mới, nguyên vẹn, không bị rách hoặc nứt, không có dấu hiệu đã qua giặt tẩy và đã qua sử dụng.</li>
        <li style="text-align: justify;">Sản phẩm phải còn đầy đủ tem, nhãn mác, thẻ bảo hành và hoá đơn mua hàng.</li>
        <li style="text-align: justify;">Sản phẩm đổi hàng còn trong thời hạn cho phép đổi trả.</li>
        <li style="text-align: justify;">Áp dụng đối với sản phẩm mua hàng online ( website, Facebook) và trực tiếp tại showroom Mr Vui, chúng tôi không hỗ trợ cho những đơn hàng mua tại địa điểm khác.</li>
        <li style="text-align: justify;">Không áp dụng đối với sản phẩm trong chương trình khuyến mãi khác và sản phẩm thanh lý.</li>
        <li style="text-align: justify;">Khách hàng chỉ có thể trả sản phẩm với điều kiện Mr Vui không có sản phẩm cùng loại khác (màu sắc, mẫu mã, kích thước) thay thế.</li>
    </ul>
    <p style="text-align: justify;"><strong>2. Thời hạn đổi/ trả sản phẩm:</strong></p>
    <ul style="text-align: justify;">
        <li style="text-align: justify;"><strong><em>Thời hạn đổi sản phẩm</em></strong>: 10 ngày đối với khách hàng mua online và 7 ngày đối với khách hàng mua trực tiếp tại cửa hàng kể từ ngày khách nhận được hàng.</li>
        <li style="text-align: justify;"><strong><em>Thời hạn trả sản phẩm</em></strong>: 07 ngày <span style="text-align: justify;">đối với khách hàng mua online và 3 ngày đối với khách hàng mua trực tiếp tại cửa hàng&nbsp;</span>kể từ ngày khách nhận được hàng.</li>
    </ul>
    <p style="text-align: justify;">Nếu vượt quá thời gian quy định trên thì chúng tôi sẽ không nhận đổi/trả sản phẩm với bất kì lý do nào.</p>
    <p style="text-align: justify;"><strong>3. Thời hạn thực hiện hoàn trả lại sản phẩm cho khách hàng</strong></p>
    <ul>
        <li style="text-align: justify;"><strong><em>Đối với khách hàng mua online</em></strong><em>:</em><br>
        Ngay sau khi nhận được sản phẩm đổi/ trả của Quý khách hàng, chúng tôi sẽ tiến hành đánh giá sản phẩm và thông báo kết quả và phương án giải quyết đổi/trả đến khách hàng trong vòng 3 đến 5 ngày</li>
        <li style="text-align: justify;"><strong><em>Đối với khách hàng mua trực tiếp tại cửa hàng</em></strong><em>:</em> <br>
        Khách hàng đem sản phẩm cần đổi/ trả đến trực tiếp tại cửa hàng trên hóa đơn, nhân viên cửa hàng sẽ kiểm tra tình trạng sản phẩm và đưa ra hướng giải quyết ngay tại của hàng. Nhân viên tại cửa hàng sẽ tư vấn cụ thể để khách hàng chọn lựa phương án tốt nhất.</li>
    </ul>
    <p style="text-align: justify;"><strong>4. Hình thức đổi/ trả sản phẩm:</strong></p>
    <ul style="text-align: justify;">
        <li style="text-align: justify;">Sản phẩm chỉ được đổi/trả một lần duy nhất</li>
        <li style="text-align: justify;">Quý khách vui lòng đến trực tiếp cửa hàng Mr Vui ghi trên hoá đơn mua hàng (đối với khách hàng ở Hồ Chí Minh)</li>
        <li style="text-align: justify;">Đối với khách hàng ở khu vực khác, vui lòng gọi điện trực tiếp đến <strong>Hotline <span style="text-align: justify;">1900 3146 hoặc 0901 487 456&nbsp;</span></strong><span style="text-align: justify;">hoặc&nbsp;<span style="text-align: justify;">gửi yêu cầu vào mail&nbsp;</span><span style="text-align: justify;"><strong>info@mrvui.vn</strong></span></span><strong><span style="text-align: justify;"></span></strong>. Sau khi nhận được mail phản hồi xác nhận đồng ý từ Mr Vui, Quý khách đóng gói sản phẩm kèm đầy đủ phụ kiện, hoá đơn, phiếu bảo hành, …và gửi về địa chỉ <strong>452G Lũy Bán Bích, phường Hòa Thạnh, quận Tân Phú, thành phố Hồ Chí Minh.</strong></li>
    </ul>
    <p style="text-align: justify;"><strong>5. Hình thức hoàn phí:</strong></p>
    <p style="text-align: justify;"><strong><em><span style="white-space: pre;">	</span>5.1&nbsp;Đối với trường hợp đổi sản phẩm</em></strong></p>
    <ul style="text-align: justify;">
        <li style="text-align: justify;">Nếu khách hàng có nhu cầu đổi sản phẩm khác có giá cao hơn sản phẩm đổi thì khách hàng phải bù thêm tiền và nếu thấp hơn sẽ không được hoàn trả lại tiền chênh lệch.</li>
    </ul>
    <p style="text-align: justify;"><strong><span style="white-space: pre;">	</span>Trường hợp khách mua online:</strong></p>
    <ul style="text-align: justify;">
        <li style="text-align: justify;">Mr Vui sẽ chịu 100% phí vận chuyển cho khách hàng nếu sản phẩm đổi đáp ứng đầy đủ điều kiện đã nêu ở Mục 1 ( điều kiện đổi/ trả sản phẩm)<br>
        </li>
        <li style="text-align: justify;">Trường hợp khách hàng đã thanh toán tiền trực tuyến cho sản phẩm đầu tiên, sẽ thanh toán thêm phần tiền chênh lệch cho sản phẩm được đổi (nếu có) bằng chuyển khoản.</li>
        <li style="text-align: justify;">Thời gian nhận hàng mới chậm nhất là 7 ngày kể từ ngày Mr Vui nhận được sản phẩm cần đổi.</li>
    </ul>
    <p style="text-align: justify;"><strong><span style="white-space: pre;">	</span>Trường hợp khách mua trực tiếp tại cửa hàng</strong></p>
    <ul style="text-align: justify;">
        <li style="text-align: justify;">Sản phẩm không bị lỗi mà khách vẫn yêu cầu đổi, khách hàng sẽ bị mất phí 10% trên tổng hóa đơn thanh toán.</li>
        <li style="text-align: justify;">Khách hàng đã thanh toán tiền cho sản phẩm đầu tiên, sẽ thanh toán thêm phần tiền chênh lệch cho sản phẩm được đổi ( nếu có ) bằng tiền mặt.</li>
    </ul>
    <p style="text-align: justify;"><strong><span style="white-space: pre;">	</span>5.2 Đối với trường hợp hoàn trả sản phẩm:</strong></p>
    <ul style="text-align: justify;">
        <li style="text-align: justify;">Sẽ hoàn tiền 100% nếu Mr Vui không có sản phẩm khác thay thế và sản phẩm phải đảm bảo đủ điều kiện đã nêu ở Mục 1.</li>
        <li style="text-align: justify;">Mr Vui sẽ chịu tất cả mọi khoản chi phí vận chuyển trong quá trình trả sản phẩm.</li>
        <li style="text-align: justify;">Trường hợp khách hàng đã thanh toán tiền online sẽ được hoàn tiền chậm nhất 30 ngày kể từ ngày Mr Vui nhận được sản phẩm trả.</li>
    </ul>
    <p style="text-align: justify;"><strong>Lưu ý:</strong>&nbsp;Mr Vui khuyến khích Quý khách hàng nên chụp ảnh sản phẩm trước khi đổi/ trả hàng hóa, việc lưu giữ sản phẩm sẽ giúp khách hàng làm bằng chứng nếu có những vấn đề phát sinh trong quá trình đổi trả.</p>
    </div></div>
  </div>
@code {

}
