@page "/customer"
@using BookStore.Shared
@inject ICustomerService customerService
@using Syncfusion.Blazor.Grids



<h3>Thông Tin Khách Hàng</h3>
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" AllowPaging="true">
                
            </SfGrid>
        </div>
    </div>
</div>

@code {
    public List<Customer> GridData { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Customer[] cus = await customerService.GetAllCustomer();
        GridData = cus.ToList();
        foreach (var c in cus)
        {
            
        }
    }
}
