@page "/review"
<div style="display: flex; justify-content: center; margin-top: 30px; margin-bottom: 30px">
    <h1>Review Sản Phẩm</h1>
</div>
<div class="containers" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div style="width: 45%; margin: 15px" class="ratio ratio-16x9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6XumNwxKO_o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div style="width: 45%; margin: 15px" class="ratio ratio-16x9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MKgf8FFikcs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div style="width: 45%; margin: 15px" class="ratio ratio-16x9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xiZ-KgK9FAs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div style="width: 45%; margin: 15px" class="ratio ratio-16x9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_0EG3FPPGtY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

@code {

}
